/* Общий фон панели */
.control-center {
  background: rgba(0, 0, 0, 0.8); /* Темный цвет (Catppuccin) */
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 5px;
}

/* Виджет кнопок (Сетка как в Android) */
.widget-buttons-grid {
  padding: 5px;
  margin: 10px 5px;
}

.widget-buttons-grid > box > button {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 25px; /* Скругление кнопок */
  margin: 5px;
  padding: 15px;
  transition: all 0.2s ease;
}

.widget-buttons-grid > box > button:hover {
  background: rgba(255, 255, 255, 0.15);
}

/* Общий стиль для обоих слайдеров */
.widget-volume, .widget-backlight {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 20px;
  margin: 5px 10px;
  border-radius: 20px;
}

/* Настройка самого ползунка (scale) */
scale {
  margin: 5px 0;
}

/* Цвет заполненной части (как в Android) */
highlight {
  background: #ec61ba; /* Голубой цвет (Catppuccin Blue) */
  border-radius: 10px;
  min-height: 8px;
}

/* Точка, за которую тянем (slider) */
slider {
  background: #f5e0dc;
  border-radius: 50%;
  min-height: 16px;
  min-width: 16px;
  margin: -4px 0; /* Центрируем относительно полоски */
}

/* Уведомления */
.notification {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  margin: 5px 0;
  padding: 10px;
}

/* Не беспокоить нах */

.widget-dnd {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  font-size: 14px;
}

.widget-dnd > switch {
  background: #444;
  border-radius: 15px;
}

.widget-dnd > switch:checked {
  background: #ec61ba; /* Цвет, когда включено */
}
