@import "macchiato.css";

* {
/* Основной шрифт — Comfortaa, запасной для иконок — Symbols NF */
    font-family: "Comfortaa", "Symbols Nerd Font Mono";
    font-size: 16px;
    font-weight: 600; /* Comfortaa лучше всего выглядит в Medium или Bold полужирном варианте */
    
    /* Добавляем немного плавности */
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); 
    letter-spacing: 0.3px;
}

window#waybar {
  color: rgb(255, 255, 255);
  /*background-color: rgba(26, 26, 26, 0.67);*/
  border-radius: 0px;
  transition-property: background-color;
  transition-duration: 0.5s;
  background: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 1.0) 0%,   /* Цвет в самой верхней точке (непрозрачный) */
        rgba(0, 0, 0, 0.5) 70%,  /* Немного прозрачности в середине */
        rgba(0, 0, 0, 0.0) 100%  /* Полная прозрачность в самом низу */
    );
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background-color: @darkgray;
}

#tray {
  background: rgba(0, 0, 0, 0.8);
  padding: 0 5px 0 5px;
  margin: 2px 5px 2px 5px;
  border: 2px solid @pink;
  border-radius: 15px;
}

#window {
  background: rgba(0, 0, 0, 0);
  padding: 0 5px 0 5px;
  margin: 2px 15px 2px 15px;
  border-radius: 0 0 15px 15px;
}

#workspaces {
  background: rgba(0, 0, 0, 0.8);
  padding: 0 10px 0 5px;
  margin: 2px 5px 2px 5px;
  border: 2px solid @pink;
  border-radius: 15px;
}

#workspaces button {
  padding: 0 8px;
  background-color: transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}

#language {
  background: rgba(0, 0, 0, 0.8);
  margin: 2px 5px 2px 5px;
  padding: 0 15px 0 15px;
  border: 2px solid @pink;
  border-radius: 15px;
  transition: all 0.3s ease;
}  

#language:hover {
  background: rgba(0, 0, 0, 0.5)
}

#mode {
  background-color: @white;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#network,

#pulseaudio {
  background: rgba(0, 0, 0, 0.8);
  padding: 0 15px 0 15px;
  margin: 2px 5px 2px 5px;
  border: 2px solid @pink;
  border-radius: 15px;
  color: @pink;
  transition: all 0.3s ease;
}

#pulseaudio:hover {
  background: rgba(0, 0, 0, 0.5)
}

#power-profiles-daemon {
  background: rgba(0, 0, 0, 0.8);
  margin: 2px 2px 2px 2px;
  min-width: 20px;
  padding: 0 3px 0 3px;
  border: 2px solid @pink;
  border-radius: 18px;
  transition: all 0.3s ease;
}

#power-profiles-daemon:hover {
  background: rgba(255, 0, 0, 0.2)
}

#custom-exit {
  background: rgba(0, 0, 0, 0.8);
  margin: 2px 1px 2px 1px;
  padding: 0 3px 0 3px;
  min-width: 20px;
  border: 2px solid @pink;
  border-radius: 15px;
  transition: all 0.3s ease;
}

#custom-exit:hover {
  background: rgba(255, 0, 0, 0.2)
}

#custom-browser {
  background: rgba(0, 0, 0, 0.8);
  margin: 2px 1px 2px 1px;
  padding: 0 3px 0 3px;
  min-width: 20px;
  border: 2px solid @pink;
  border-radius: 15px;
  transition: all 0.3s ease;
}

#custom-browser:hover {
  background: rgba(0, 0, 0, 0.5)
}

#custom-thunar {
  background: rgba(0, 0, 0, 0.8);
  margin: 2px 1px 2px 1px;
  padding: 0 3px 0 3px;
  min-width: 20px;
  border: 2px solid @pink;
  border-radius: 15px;
  transition: all 0.3s ease;
}

#custom-thunar:hover {
  background: rgba(0, 0, 0, 0.5)
}

#custom-terminal {
  background: rgba(0, 0, 0, 0.8);
  margin: 2px 1px 2px 1px;
  padding: 0 3px 0 3px;
  min-width: 20px;
  border: 2px solid @pink;
  border-radius: 15px;
  transition: all 0.3s ease;
}

#custom-terminal:hover {
  background: rgba(0, 0, 0, 0.5)
}

#custom-swaync {
  background: rgba(0, 0, 0, 0.8);
  margin: 2px 2px 2px 2px;
  min-width: 20px;
  border: 2px solid @pink;
  padding: 0 3px 0 3px;
  border-radius: 18px;
  transition: all 0.3s ease;
}

#custom-swaync:hover {
  background: rgba(0, 0, 0, 0.5)
}

#network {
  background: rgba(0, 0, 0, 0.8);
  padding: 0 15px 0 15px;
  margin: 2px 2px 2px 2px;
  border: 2px solid @pink;
  border-radius: 15px;
  color: @pink;
  transition: all 0.3s ease;
}

#network:hover {
  background: rgba(0, 0, 0, 0.5)
}

#clock {
  background: rgba(0, 0, 0, 0.8);
  padding: 0 15px 0 15px;
  border-radius: 15px;
  margin: 2px 0px 2px 0px;
  border: 2px solid @pink;
  color: @white;
  transition: all 0.3s ease;
}

#clock:hover {
  background: rgba(0, 0, 0, 0.5)
}

#cpu {
  color: @green;
}

#memory {
  color: @peach;
}

#window {
  color: rgb(255, 255, 255);
}
/*цвет самих панелей оставил потому что пригодится */
.modules-right,
.modules-left,
.modules-center {
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 15px;
}
.modules-right {
  padding: 0 5px 0 0;
}

.modules-left {
  padding: 0 0px 0 5px;
}

.modules-center {
  padding: 0 5px;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#pulseaudio.muted {
  color: rgba(0, 0, 0, 0.8);
}
