@import "macchiato.css";

* {
  font-family: "Nerd Fonts", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

window#waybar {
  background-color: transparent;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background-color: #340068;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: @orchid;
  color: #340068;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #340068;
}

#mode {
  background-color: @lightgray;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#network,
#pulseaudio {
  padding: 0 10px;
}

#pulseaudio {
  color: @pink;
}

#network {
  color: @pink;
}

#clock {
  color: @white;
}

#cpu {
  color: @green;
}

#memory {
  color: @peach;
}

#window {
  color: @pink;
}
/*цвет самих панелей */
.modules-right,
.modules-left,
.modules-center {
  background-color: rgba(89, 89, 89, 0.85);
  border-radius: 4px;
}
.modules-right {
  padding: 0 10px;
}

.modules-left {
  padding: 0 10px;
}

.modules-center {
  padding: 0 5px;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#pulseaudio.muted {
  color: @lavender;
}
